[all:vars]
ansible_user=${ansible_user}

[mds]
${mds_name}.${zone}.${project_id}

[oss]
%{ for name in oss_names ~}
${name}.${zone}.${project_id}
%{ endfor ~}

[client]
%{ for name in client_names ~}
${name}.${zone}.${project_id}
%{ endfor ~}

[lab:children]
mds
oss
client
